.dashboard{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 87vh;
    overflow: auto;
}
.headcont{
    display: flex;
}
.dashcontainer1{
    width: 100%;
    background-image: linear-gradient(to right, rgb(208, 0, 255) , #ff009d);
    height: 13vh;
    margin: 5px 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.dashcont1{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    margin-right: 8px;
}
.dashicons{
    font-size: 32px;
    margin-right: 10px;
}
.dashcont2{
    font-weight: 400;
    font-size: 15px;
}
.dash2{
    background-image: linear-gradient(to right, rgb(0, 162, 255) , #5900ff);
}
.dash3{
    background-image: linear-gradient(to right, rgb(255, 77, 0) , #ffa200);
}
.dash4{
    background-image: linear-gradient(to right, rgb(177, 49, 227) , #4004b7);
}
.dash5{
    background-image: linear-gradient(to right, rgb(111, 0, 255) , #0040ff);
}
.dash6{
    background-image: linear-gradient(to right, rgb(0, 132, 208) , #009dff);
}
.charts{
    width: 100%;
}
.chartearn{
    height: 100vh;
    width: 100%;
}
.div1_chart{
    border-radius: 15px;
    background-color: #ffffff;
    margin-right: 40px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.division1{
    margin-top: 20px;
}
.division3{
    width: 100%;
    display: flex;
    justify-content: center;
}
.charts{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.charthead{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
.barcharts{
    width: 94%;
    padding-top: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: #ffffff;
}
.chartheadcont{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.chartselect{
    width: 85px;
    padding: 0 10px;
    border-radius: 20px;
    height: 30px;
    font-weight: 600;
    margin-top: 20px;
}

.divi2{
    margin-top: 60px;
}
.dashchart33{
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.mainchart{
    display: flex;
    justify-content: center;
    width: 50%;
}
.dashchart3{
    width: 100%;
}